<div>
    <input type="button" (click)="login()" value="login"><p>login {{title1}}</p>
    <input type="button" (click)="logout()" value="logout"><p>logout {{title2}}</p>
    <input type="button" (click)="get_user_by_id()" value="get_user_by_id"><p>get {{title3}}</p>
    <input type="button" (click)="get_user_list()" value="get_user_list"><p>delete {{title4}}</p>
    <input type="button" (click)="get_user_now()" value="get_user_now"><p>list {{title5}}</p>
    <input type="button" (click)="create_user()" value="create_user"><p>update {{title6}}</p>
    <input type="button" (click)="delete_user()" value="delete_user"><p>create {{title7}}</p>
    <input type="button" (click)="update_user()" value="update_user"><p>get {{title8}}</p>
    <router-outlet></router-outlet>
</div>
